/* Place CSS styles here */
body {
    background-color: #fffcee;
    color: #48220f;
    font-family: 'Shadows Into Light Two', sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shadows Into Light Two', sans-serif;
    font-weight: 500;
    color: #dc143c;
    text-shadow: 1px 1px 2px #a52a2a;
}

p {
    line-height: 1.5;
}

a {

}

a:hover {

}

a:focus {

}

img{ 
    width: 250px;
}

.background-image {
    background-image: url(../img/baking-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
}


.background-image-with-content {
    background-image: url(../img/baking-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
}